.main-container {
    display: block;
    padding-left: 0 !important;
    padding-right: 0 !important;
    min-height: calc(100vh - 113px) !important;
}

#homepage-container {
    width: 100%;
    height: 100%;
    display: flex;
}

#user-interaction-wrapper {
    width: 80%;
    margin: 10%;
}

body.not-logged-in #homepage-collection-wrapper {
    display: none;
}

#navbar {
    margin-bottom: 0 !important;
}

.slogan-wrapper-anon {
    margin-bottom: 10% !important;
}

.slogan-wrapper-anon img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#edit-gacode {
    width: 100%;
}

#user-login-form #edit-submit {
    width: 90%;
    height: 40px;
    margin-left: 5%;
}

#user-login-form #edit-actions {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 0 !important;
    padding: 0 !important;
    margin-left: 1% !important;
    margin-top: 1% !important;
}

#user-login-form ul {
    width: 49%;
    display: inline-block;
    margin: 0 !important;
    padding: 0 !important;
    list-style: disclosure-closed;
    border-right: 1px solid #ddd;
    height: 50px;
    color: #ddd;
}
