/*
 * CSS file for islandora-book-page.tpl.php
 */
.tabs--primary {
    display: none;
}

.footer {
    display: none;
}

#book-page-viewer {
    margin-left: -15px !important;
    margin-right: -15px !important;
}

.main-viewer-menu-left {
    position: absolute;
    top: 24px;
    left: 0;
    z-index: 1;
}

.main-viewer-menu-left>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-viewer-menu-left>ul>li {
    width: 60px;
    height: 60px;
    background-color: #666666;
    position: relative;
}

.main-viewer-menu-left>ul>li:hover {
    background-color: #FFF;
    background-position: 100% -60px;
    cursor: pointer;
}

.menu-left-detail {
    position: absolute;
    top: 0;
    left: 60px;
    width: 220px;
    min-height: 240px;
    background-color: white;
    border-top-right-radius: 5px;
    display: none;
}

#close-menu-left-detail {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    z-index: 2;
    background-image: url("/sites/all/themes/miletos_muteferriqa/images/close.png");
}

.menu-left-detail-item {
    display: none;
}

.menu-left-detail .active {
    display: block;
}

.tab-content h4 {
    text-align: center;
    color: #666666;
    border-bottom: 2px solid #666666;
    margin: 0 !important;
    padding: 2px;
}

#menu-left a {
    width: 100%;
    height: 100%;
    z-index: 10;
    display: block;
    text-decoration: none;
    transition: unset;
    line-height: 0;
    font-size: 0;
    color: transparent;
}

#viewer-book {
    background-image: url("/sites/all/themes/miletos_muteferriqa/images/book.png");
}

#viewer-manage {
    display: none;
    background-image: url("/sites/all/themes/miletos_muteferriqa/images/manage.png");
}

body.toolbar #viewer-manage {
    display: block !important;
}

.tab-pane {
    padding: 10px !important;
    display: block !important;
}

/*
 * Main viewer menu - Right
 */
 .main-viewer-menu-right {
     position: absolute;
     right: 0;
     top: 24px;
     width: 60px;
     z-index: 1;
 }

 .main-viewer-menu-right>ul {
     list-style: none;
     padding: 0;
     margin: 0;
 }

 .main-viewer-menu-right>ul>li {
     width: 60px;
     height: 60px;
     background-color: #666666;
     position: relative;
     background-position: top !important;
 }

.main-viewer-menu-right>ul>li:hover {
    background-color: #fff !important;
    background-position: 100% -60px !important;
    cursor: pointer;
}

#tabs-right-zoomin {
    background-image: url("/sites/all/themes/miletos_muteferriqa/images/zoomin.png");
}

#tabs-right-zoomout {
    background-image: url("/sites/all/themes/miletos_muteferriqa/images/zoomout.png");
}

#tabs-right-home {
    background-image: url("/sites/all/themes/miletos_muteferriqa/images/zoomreset.png");
}

#tabs-right-fullscreen {
    background-image: url("/sites/all/themes/miletos_muteferriqa/images/fullscreen.png");
}

#tabs-right-rotate-left {
    background-image: url("/sites/all/themes/miletos_muteferriqa/images/rotateleft.png");
}

#tabs-right-rotate-right {
    background-image: url("/sites/all/themes/miletos_muteferriqa/images/rotateright.png");
}
